language: cpp
python:
  - "2.7"
matrix:
  include:
    - env: PLATFORM=ios BINDINGS_ARGS="platform=ios generate_bindings=True ios_arch=arm64 target=release" DRIVER_ARGS="platform=ios target=release ios_arch=arm64"
      os: osx
      osx_image: xcode10.2
      compiler: clang
      addons:
        homebrew:
          packages:
            - jq
            - scons
            - p7zip
          update: true
    - env: PLATFORM=linux BINDINGS_ARGS="use_llvm=yes platform=linux generate_bindings=True bits=64 target=release" DRIVER_ARGS="platform=linux use_llvm=yes target=release"
      os: linux
      compiler: clang
    - env: PLATFORM=android BINDINGS_ARGS="" DRIVER_ARGS="NDK_PROJECT_PATH=. APP_BUILD_SCRIPT=Android.mk  APP_PLATFORM=android-21" ANDROID_NDK_ROOT="/home/travis/build/utopia-rise/android-sdk/ndk-bundle"
      os: linux
    - env: PLATFORM=osx BINDINGS_ARGS="platform=osx generate_bindings=True bits=64 target=release" DRIVER_ARGS="platform=osx target=release"
      os: osx
      compiler: clang
      addons:
        homebrew:
          packages:
            - jq
            - scons
            - p7zip
          update: true
    - env: PLATFORM=windows BINDINGS_ARGS="platform=windows generate_bindings=True bits=64 target=release" DRIVER_ARGS="platform=windows target=release"
      os: windows
      compiler: clang
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install scons; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then wget -O Python27.zip http://prdownloads.sourceforge.net/scons/scons-local-3.0.5.zip && mv Python27.zip C:/Python27.zip && 7z x C:/Python27.zip -oC:/ && export PATH="/c/Python27:/c/Python27/Scripts:$PATH"; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then wget -O scons.zip http://prdownloads.sourceforge.net/scons/scons-local-3.0.5.zip && mv scons.zip C:/scons.zip && 7z x C:/scons.zip -oC:/scons; fi
  - cd ..
  - if [[ "$PLATFORM" == "android" ]]; then sh fmod-gdnative/.travis/download-ndk.sh; fi
  - mkdir libs && cd libs
  - mkdir fmod && cd fmod
  - wget https://gist.githubusercontent.com/piiertho/b2521d95965297422888b113dbb3aa5a/raw/e8b5097c36efff34940011ccbcb3fd414fc11074/getFmod2.sh
  - chmod +x getFmod2.sh
  - ./getFmod2.sh $FMODUSER $FMODPASS $PLATFORM
  - if [[ "$PLATFORM" == "linux" ]]; then tar -xvf fmodstudioapi20002linux.tar.gz; fi
  - if [[ "$PLATFORM" == "osx" ]]; then hdiutil attach fmodstudioapi20002osx.dmg; fi
  - if [[ "$PLATFORM" == "windows" ]]; then 7z x fmodstudioapi20002win-installer.exe; fi
  - if [[ "$PLATFORM" == "ios" ]]; then hdiutil attach fmodstudioapi20002ios.dmg; fi
  - if [[ "$PLATFORM" == "android" ]]; then tar -xvf fmodstudioapi20002android.tar.gz; fi
  - if [[ "$PLATFORM" == "linux" ]]; then mv fmodstudioapi20002linux/api linux; fi
  - if [[ "$PLATFORM" == "osx" ]]; then cp -r "/Volumes/FMOD Programmers API Mac/FMOD Programmers API/api" osx; fi
  - if [[ "$PLATFORM" == "windows" ]]; then mv api/ windows; fi
  - if [[ "$PLATFORM" == "ios" ]]; then cp -r "/Volumes/FMOD Programmers API iOS/FMOD Programmers API/api" ios; fi
  - if [[ "$PLATFORM" == "android" ]]; then mv fmodstudioapi20002android/api android; fi
  - ls -al
  - cd ../../
  - git clone --recursive  https://github.com/utopia-rise/godot-cpp godot-cpp
  - cd godot-cpp
  - git checkout utopia-3.2
  - git submodule update --recursive
install:
  - if [[ "$PLATFORM" == "android" ]]; then scons platform=android generate_bindings=True target=release android_arch=armv7 && scons platform=android generate_bindings=True target=release android_arch=arm64v8 && cd ../fmod-gdnative; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then C:/scons/scons.bat $BINDINGS_ARGS && cd ../fmod-gdnative; elif [[ "$PLATFORM" != "android" ]]; then scons $BINDINGS_ARGS && cd ../fmod-gdnative; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then C:/scons/scons.bat $DRIVER_ARGS; elif [[ "$PLATFORM" == "android" ]]; then $ANDROID_NDK_ROOT/ndk-build $DRIVER_ARGS && rm libs/arm64-v8a/libc++_shared.so && rm libs/arm64-v8a/libfmod.so && rm libs/arm64-v8a/libfmodstudio.so && rm libs/armeabi-v7a/libc++_shared.so && rm libs/armeabi-v7a/libfmod.so && rm libs/armeabi-v7a/libfmodstudio.so && tar zcvf libandroid_fmod_gdnative.tar.gz libs/; else scons $DRIVER_ARGS; fi
script:
  - if [[ "$PLATFORM" == "osx" ]]; then mkdir -p demo/addons/fmod/libs/osx/ && cp bin/libGodotFmod.osx.dylib demo/addons/fmod/libs/osx/ && cp ../libs/fmod/osx/core/lib/libfmod.dylib demo/addons/fmod/libs/osx/ && cp ../libs/fmod/osx/studio/lib/libfmodstudio.dylib demo/addons/fmod/libs/osx/ && cd demo && ./run_tests.sh ../../Godot.app/Contents/MacOS/Godot && cd ..; fi
deploy:
  provider: releases
  api_key:
    secure: $TRAVIS_TOKEN
  file:
    - "bin/libGodotFmod.linux.so"
    - "bin/libGodotFmod.osx.dylib"
    - "bin/libGodotFmod.windows.dll"
    - "bin/libGodotFmod.ios.a"
    - "../godot-cpp/bin/libgodot-cpp.ios.release.a"
    - "libandroid_fmod_gdnative.tar.gz"
  skip_cleanup: true
  on:
    tags: true